<ng-template #cartModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-primary user-select-none">{{ 'cart' | titlecase }}</h4>
  </div>
  <div class="modal-body">
    <sc-coupon-table [coupons]="cartList" (selectedCoupons)="onCouponsSelected($event)"></sc-coupon-table>
  </div>
  <div class="modal-footer">

    <ng-container *ngIf="selectedCoupons.length > 0">
      <div class="btn-group dropup" role="group">
        <button unfocus
                type="button"
                class="btn btn-outline-primary btn-sm dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-expanded="false">
          Manage
        </button>
        <ul class="dropdown-menu">
          <li unfocus class="dropdown-item" (click)="onMove()" style="cursor: pointer">Move To Wish</li>
          <li unfocus class="dropdown-item" (click)="onDelete()" style="cursor: pointer">Delete</li>
        </ul>
      </div>
    </ng-container>

    <button type="button" class="btn btn-sm btn-outline-success"
            (click)="onBuy()">
      {{ 'buy for ' | titlecase }}
      {{
        totalPrice | currency: "ILS"
      }}
    </button>
    <button unfocus
            type="button"
            class="btn btn-sm btn-outline-success"
            (click)="modal.dismiss('Close click')">Close
    </button>
  </div>
</ng-template>
