<div #card class="d-flex justify-content-between card rounded-2 overflow-hidden mt-3" xmlns="http://www.w3.org/1999/html">
  <img src="{{coupon.params.image}}"
       alt="{{coupon.params.title}} coupon"
       class="object-fit-cover user-select-none">

  <div class="position-relative">
    <div class="d-flex flex-row bg-light-semi-transparent justify-content-between p-1">
      <!-- TITLE -->
      <div class="ps-1 pe-0 pt-2 pb-2 flex-grow-1 fs-6 fw-semibold text-primary user-select-none"
           (click)="onTitleClick()">
        <span #title>{{ coupon.params.title | titlecase | sliceTxt: titleMaxLen }}</span>
        <span class="position-absolute top-0 start-0 ps-2 pt-0 fs-7">{{ coupon.params.category }}</span>
      </div>

      <!-- INFO BUTTON -->
      <div class="p-3 pt-2 pb-2 m-1 mt-0 mb-0 text-primary position-relative" (click)="switchInfoDescription()"
           role="button">
        <div *ngIf="isDescriptionShown" class="position-absolute top-25 left-25">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
          </svg>
        </div>
        <div *ngIf="!isDescriptionShown" class="position-absolute top-25 left-25">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-info-circle-fill"
               viewBox="0 0 16 16">
            <path
                d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
          </svg>
        </div>
      </div>

      <!-- DESCRIPTION BUTTON -->
      <div class="p-3 pt-2 pb-2 m-1 mt-0 mb-0 text-primary position-relative" (click)="switchInfoDescription()"
           role="button">
        <div *ngIf="!isDescriptionShown" class="position-absolute top-25 left-25">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-chat-right-text" viewBox="0 0 16 16">
            <path
                d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
            <path
                d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6m0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5"/>
          </svg>
        </div>
        <div *ngIf="isDescriptionShown" class="position-absolute top-25 left-25">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-chat-right-text-fill" viewBox="0 0 16 16">
            <path
                d="M16 2a2 2 0 0 0-2-2H2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h9.586a1 1 0 0 1 .707.293l2.853 2.853a.5.5 0 0 0 .854-.353zM3.5 3h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1 0-1m0 2.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1"/>
          </svg>
        </div>
      </div>

      <!-- WISH LIST BUTTON -->
      <div class="p-3 pt-2 pb-2 text-primary position-relative m-1 mt-0 mb-0" (click)="onWishListClick()"
           role="button">

        <!-- NOT ADDED -->
        <div *ngIf="!isAddedToWish" class="position-absolute top-25 left-25">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-heart"
               viewBox="0 0 16 16">
            <path
                d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"/>
          </svg>
        </div>

        <!-- ADDED SUCCESSFULLY -->
        <div @popUp
             *ngIf="wishOnAddAnimationTrigger"
             class="position-absolute top-25 left-25 z-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor"
               class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
          </svg>
        </div>

        <!-- ADDED -->
        <div *ngIf="isAddedToWish" class="position-absolute top-25 left-25">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor"
               class="bi bi-heart-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
          </svg>
        </div>

        <!-- REMOVED -->
        <div @popUp
             *ngIf="wishOnRemoveAnimationTrigger" class="position-absolute top-25 left-25 z-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
            <path
                d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77"/>
          </svg>
        </div>
      </div>

      <!-- CART -->
      <div class="p-3 pt-2 pb-2 m-1 mt-0 mb-0 text-primary position-relative"
           (click)="onCartClick()"
           [ngClass]="{'disabled': _isSaleEnded}"
           role="button">

        <!-- ADD ICON -->
        <div *ngIf="!isAddedToCart && !_isSaleEnded" class="position-absolute top-25 left-25 text-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
               fill="currentColor"
               class="bi bi-bag-plus" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5"/>
            <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
          </svg>
        </div>

        <!-- ADDED SUCCESSFULLY ICON -->
        <div @popUp
             *ngIf="cartOnAddAnimationTrigger"
             style="transform: translateY(-10%)"
             class="position-absolute top-25 left-25 text-success z-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-bag-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
          </svg>
        </div>


        <!-- REMOVE FROM CART ICON -->
        <div *ngIf="isAddedToCart" class="position-absolute top-25 left-25 text-success">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-bag-dash-fill"
               viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M6 9.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1z"/>
          </svg>
        </div>


        <!-- REMOVED SUCCESSFULLY ICON -->
        <div @popUp
             *ngIf="cartOnRemoveAnimationTrigger"
             style="transform: translateY(-10%)"
             class="position-absolute top-25 left-25 z-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-x-fill"
               viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M6.854 8.146a.5.5 0 1 0-.708.708L7.293 10l-1.147 1.146a.5.5 0 0 0 .708.708L8 10.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 10l1.147-1.146a.5.5 0 0 0-.708-.708L8 9.293z"/>
          </svg>
        </div>


        <!-- ADDING DISABLED ICON -->
        <div *ngIf="_isSaleEnded" class="position-absolute top-25 left-25" style="cursor: not-allowed">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-bag-x text-dark" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M6.146 8.146a.5.5 0 0 1 .708 0L8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 0 1 0-.708"/>
            <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
          </svg>
        </div>

      </div>
    </div>
  </div>

  <!-- INFO CONTENT -->
  <ng-container *ngIf="!isDescriptionShown">
    <div class="d-flex flex-row"
         [ngClass]="{'justify-content-between' : !_isSaleEnded && isShowTimer, 'justify-content-start' : _isSaleEnded, 'justify-content-end': !_isSaleEnded && !isShowTimer}">

      <!-- TIMER -->
      <div *ngIf="isShowTimer"
           class="p-2 mb-2 fs-6 fw-semibold bg-light-semi-transparent rounded-end text-primary position-relative user-select-none">
        <ng-container *ngIf="_isSaleEnded">
          {{ 'sale ended' | titlecase }}
        </ng-container>
        <ng-container *ngIf="!_isSaleEnded">
          <span class="fs-7 position-absolute top-0 user-select-none">{{ 'ends in:' | titlecase }}</span>
          {{ timerValue | date: 'HH:mm:ss' }}
        </ng-container>
      </div>

      <!-- PRICE -->
      <div *ngIf="!_isSaleEnded"
           class="p-2 mb-2 fs-6 fw-semibold bg-light-semi-transparent rounded-start text-primary user-select-none">
        {{ coupon.params.price | currency: 'ILS' }}
      </div>
    </div>
  </ng-container>

  <!-- DESCRIPTION CONTENT -->
  <ng-container *ngIf="isDescriptionShown">
    <div
        class="description p-0 ps-2 pe-2 m-0 w-100 fs-6 bg-light-semi-transparent text-primary position-absolute mt-5 overflow-y-auto text-wrap">
      <p class="text-decoration-underline mb-0">Title:</p>
      <p class="fw-semibold">{{ coupon.params.title }}</p>
      <hr>

      <p class="text-decoration-underline mb-0">Company:</p>
      <p class="mb-0 fw-lighter">name: <span class="fw-semibold mb-0">{{ coupon.params.companyName }}</span></p>
      <p class="fw-lighter">email: <span class="fw-semibold">{{ coupon.params.companyEmail }}</span></p>
      <hr>

      <p class="text-decoration-underline mb-0">Ends on:</p>
      <p class="fw-semibold">{{ coupon.params.endDate | date: 'd/M/yy, hh:mm' }}</p>
      <hr>

      <p class="text-decoration-underline mb-0">Description:</p>
      <p>{{ coupon.params.description }}</p>
    </div>
  </ng-container>
</div>
