<nav class="navbar fixed-top bg-light-semi-transparent p-4 position-fixed {{padding}}">
  <div class="d-flex flex-row justify-content-between w-100">
    <sc-logo [showTitle]="isShowLogoTitle"></sc-logo>

    <ng-container #headerContentContainer>
      <div class="d-flex align-items-center"></div>
    </ng-container>

    <sc-offcanvas [title]="('hello ' + userName) | titlecase">
      <div class="list-group list-group-flush">
        <a routerLink='/home'
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           class="list-group-item list-group-item-action pt-3 pb-3">
          Home
        </a>
        <a *ngIf="user == null"
           routerLink='/auth'
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: false }"
           class="list-group-item list-group-item-action pt-3 pb-3">
          Authentication
        </a>
        <a *ngIf="user != null"
           routerLink="/account"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: false }"
           class="list-group-item list-group-item-action pt-3 pb-3">
          My Account
        </a>
      </div>
    </sc-offcanvas>
  </div>
</nav>