<nav class="navbar fixed-top bg-light-semi-transparent p-4 {{padding}}">
  <div class="d-flex flex-row justify-content-between w-100">
    <sc-logo></sc-logo>

    <ng-content></ng-content>

    <sc-offcanvas [title]="('hello ' + userName) | titlecase">
      <div class="list-group list-group-flush">
        <a *ngIf="isShowHome" routerLink='/' class="list-group-item list-group-item-action pt-3 pb-3">
          Home
        </a>
        <a routerLink='/auth/login' class="list-group-item list-group-item-action pt-3 pb-3" routerLinkActive="active">
          Authentication
        </a>
      </div>
    </sc-offcanvas>
  </div>
</nav>