<form class="user-select-none w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
  <cs-input type="email" label="Email" formControlName="email"></cs-input>
  <div class="p-5 pt-0 pb-0">
    <div *ngIf="form.controls.email.touched && !form.controls.email.value" class="text-danger">
      Please enter an email.
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.value && form.controls.email.invalid"
         class="text-danger">
      Please enter a valid email.
    </div>
  </div>

  <cs-input type="password" label="Password" formControlName="password"></cs-input>
  <div class="p-4 pt-0">
    <div *ngIf="form.controls.password.touched && !form.controls.password.value"
         class="text-danger">
      Please enter a password.
    </div>
  </div>
  <div *ngIf="errorMessage" class="text-danger">{{ errorMessage | titlecase }}</div>

  <div class="list-group text-center mt-3">
    <cs-button [showSpinner]="isLoading && quickLoginType == null"
               [disabled]="form.invalid"
               type="submit"
               class="fw-semibold list-group-item list-group-item-success list-group-item-action">Login
    </cs-button>
    <cs-button [disabled]="form.pristine"
               type="reset"
               [ngClass]="{'text-danger': !form.pristine, 'text-secondary': form.pristine}"
               class="w-light list-group-item list-group-item-action">Clear Form
    </cs-button>
  </div>
  <br>
  <div class="list-group text-center mt-3 fw-light">
    Quick Login
    <cs-button [showSpinner]="isLoading && quickLoginType === 'customer'"
               (click)="onQuickLogin('customer')"
               class="list-group-item list-group-item-action text-secondary">Customer
    </cs-button>

    <cs-button [showSpinner]="isLoading && quickLoginType === 'company'"
               (click)="onQuickLogin('company')"
               class="list-group-item list-group-item-action text-secondary">Company
    </cs-button>

    <cs-button [showSpinner]="isLoading && quickLoginType === 'admin'"
               (click)="onQuickLogin('admin')"
               class="list-group-item list-group-item-action text-secondary">Admin
    </cs-button>
  </div>
</form>