<form class="user-select-none w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
  <cs-form-input type="email" placeholder="Email" formControlName="email"></cs-form-input>
  <div class="p-5 pt-0 pb-0">
    <div *ngIf="form.controls.email.touched && !form.controls.email.value" class="text-danger">
      Please enter an email.
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.value && form.controls.email.invalid"
         class="text-danger">
      Please enter a valid email.
    </div>
  </div>

  <cs-form-input type="password" placeholder="Password" formControlName="password"></cs-form-input>
  <div class="p-4 pt-0">
    <div *ngIf="form.controls.password.touched && !form.controls.password.value"
         class="text-danger">
      Please enter a password.
    </div>
  </div>
  <div *ngIf="errorMessage" class="text-danger">{{ errorMessage | titlecase }}</div>

  <div class="list-group text-center mt-3">
    <button [disabled]="form.invalid"
            class="fw-bolder list-group-item list-group-item-success list-group-item-action"
            type="submit">Login
      <cs-spinner class="ms-1 text-dark" *ngIf="isLoading && quickLoginType == null"></cs-spinner>
    </button>

    <button [disabled]="form.pristine"
            (click)="onReset()"
            [ngClass]="{'text-danger': !form.pristine, 'text-bg-light': !form.pristine}"
            class="fw-light list-group-item list-group-item-action"
            type="button">Clear Form
    </button>
  </div>
  <br>
  <div class="list-group text-center mt-3 fw-light">
    Quick Login
    <button class="list-group-item list-group-item-action text-bg-light"
            type="button"
            (click)="onQuickLogin('customer')">Customer
      <cs-spinner class="ms-1 text-secondary" *ngIf="isLoading && quickLoginType === 'customer'"></cs-spinner>
    </button>

    <button class="list-group-item list-group-item-action text-bg-light"
            type="button"
            (click)="onQuickLogin('company')">Company
      <cs-spinner class="ms-1 text-secondary" *ngIf="isLoading && quickLoginType === 'company'"></cs-spinner>
    </button>

    <button class="list-group-item list-group-item-action text-bg-light"
            type="button"
            (click)="onQuickLogin('admin')">Admin
      <cs-spinner class="ms-1 text-secondary" *ngIf="isLoading && quickLoginType === 'admin'"></cs-spinner>
    </button>
  </div>
</form>