<div *ngIf="userType === 'admin' || userType === 'company'" class="container mt-3">
  <ng-container *ngTemplateOutlet="userType === 'company' ? manageCoupons : manageUsers"></ng-container>
</div>

<div class="container mt-5">
  <router-outlet></router-outlet>
  <br>
  <button class="btn btn-danger text-nowrap" (click)="onLogout()">Logout
    <cs-spinner class="ms-1" *ngIf="isLoading"></cs-spinner>
  </button>
</div>

<ng-template #manageCoupons>
  <div class="d-flex flex-column justify-content-center">
    <cs-modal-button [modal-id]="'create-coupon-modal'" class="btn btn-outline-success m-1">
      Create Coupon
    </cs-modal-button>
    <cs-modal-button [modal-id]="'manage-coupons-modal'" class="btn btn-outline-success m-1">
      Manage Coupons
    </cs-modal-button>
  </div>
  <cs-create-coupon-modal></cs-create-coupon-modal>
  <cs-manage-coupons-modal></cs-manage-coupons-modal>
</ng-template>

<ng-template #manageUsers>
  <cs-modal-button [modal-id]="'users-manage-modal'" class="btn btn-outline-success">
    Manage Users
  </cs-modal-button>
  <cs-users-manage-modal></cs-users-manage-modal>
</ng-template>
