<ng-template #filterModal let-modal>
  <form class="modal-content" [formGroup]="form" (ngSubmit)="onSubmit()" (reset)="onFormReset()">
    <div *ngIf="form == null" class="modal-header">
      <h4 class="modal-title text-primary user-select-none">
        <div class="spinner-border" role="status"></div>
        {{ '&nbsp;&nbsp;Loading filters..' | titlecase }}
      </h4>
    </div>
    <div class="modal-header">
      <h4 class="modal-title text-primary user-select-none">{{ 'filters' | titlecase }}</h4>
    </div>
    <div class="modal-body">
      <div class="accordion" id="accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button bg-light-semi-transparent"
                    type="button"
                    unfocus
                    [disabled]="form.controls.freeText.value.key"
                    (click)="recalculateFilters()"
                    data-bs-toggle="collapse"
                    data-bs-target="#categoriesCollapse"
                    aria-expanded="true"
                    aria-controls="categoriesCollapse">
              Categories
            </button>
          </h2>
          <div id="categoriesCollapse" class="accordion-collapse collapse show"
               data-bs-parent="#accordion">
            <div class="accordion-body" formArrayName="categories">
              <div class="form-check user-select-none m-2"
                   [formGroupName]="i"
                   *ngFor="let c of form.controls.categories.controls; let i = index">
                <input class="form-check-input drop-shadow-low"
                       type="checkbox"
                       unfocus
                       id="{{c.value.key}}"
                       formControlName="isChecked">
                <label class="form-check-label text-hover"
                       [ngClass]="{'text-primary': c.value.isChecked}"
                       for="{{c.value.key}}">{{ c.value.key | titlecase }}
                </label>
              </div>
              <hr>
              <a class="text-hover left-90 position-relative" (click)="onCategoryReset()">reset</a>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-light-semi-transparent"
                    type="button"
                    unfocus
                    [disabled]="form.controls.freeText.value.key"
                    (click)="recalculateFilters()"
                    data-bs-toggle="collapse"
                    data-bs-target="#companiesCollapse"
                    aria-expanded="false"
                    aria-controls="companiesCollapse">
              Companies
            </button>
          </h2>
          <div id="companiesCollapse" class="accordion-collapse collapse" data-bs-parent="#accordion">
            <div class="accordion-body" formArrayName="companyNames">
              <div class="form-check user-select-none m-2"
                   [formGroupName]="i"
                   *ngFor="let c of form.controls.companyNames.controls; let i = index">
                <input class="form-check-input drop-shadow-low"
                       type="checkbox"
                       unfocus
                       id="{{c.value.key + i}}"
                       formControlName="isChecked">
                <label class="form-check-label text-hover"
                       [ngClass]="{'text-primary': c.value.isChecked}"
                       for="{{c.value.key + i}}">{{ c.value.key | titlecase }}
                </label>
              </div>
              <hr>
              <a class="text-hover position-relative left-90" (click)="onCompanyReset()">reset</a>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-light-semi-transparent"
                    unfocus
                    [disabled]="form.controls.freeText.value.key"
                    (click)="recalculateFilters()"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#priceCollapse"
                    aria-expanded="false"
                    aria-controls="priceCollapse">
              Price
            </button>
          </h2>
          <div id="priceCollapse" class="accordion-collapse collapse" data-bs-parent="#accordion">
            <div class="accordion-body">
              <div class="row align-content-center" formGroupName="priceRange">
                <div class="col flex-grow-1">
                  <div class="input-group drop-shadow-low">
                    <span class="input-group-text fs-4">₪</span>
                    <div class="form-floating">
                      <input type="number"
                             class="form-control"
                             formControlName="start"
                             id="minPrice"
                             placeholder="min price"
                             [min]="filtersKeyValue.priceRange.start"
                             [max]="filtersKeyValue.priceRange.end">
                      <label for="minPrice">Min price</label>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="input-group drop-shadow-low">
                    <span class="input-group-text fs-4">₪</span>
                    <div class="form-floating">
                      <input type="number"
                             class="form-control"
                             id="maxPrice"
                             placeholder="max price"
                             formControlName="end"
                             [min]="filtersKeyValue.priceRange.start"
                             [max]="filtersKeyValue.priceRange.end">
                      <label for="minPrice">Max price</label>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <a class="text-hover position-relative left-90" (click)="onPriceReset()">reset</a>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed bg-light-semi-transparent"
                    (click)="recalculateFilters()"
                    unfocus
                    [disabled]="form.controls.freeText.value.key"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#dateCollapse"
                    aria-expanded="false"
                    aria-controls="dateCollapse">
              Date
            </button>
          </h2>
          <div id="dateCollapse" class="accordion-collapse collapse" data-bs-parent="#accordion">
            <div class="accordion-body">
              <div class="row align-content-center" formGroupName="dateRange">
                <div class="row align-content-center">
                  <div class="col-sm-3 align-self-center">
                    Start date
                  </div>
                  <div class="col-sm-5 mb-2">
                    <sc-date-picker formControlName="start"
                                    id="startDate"
                                    [minDate]="filtersKeyValue.dateRange.start"
                                    [maxDate]="filtersKeyValue.dateRange.end">
                    </sc-date-picker>
                  </div>
                </div>
                <div class="row align-content-center">
                  <div class="col-sm-3 align-self-center">
                    End date
                  </div>
                  <div class="col-sm-5">
                    <sc-date-picker formControlName="end"
                                    id="endDate"
                                    [minDate]="filtersKeyValue.dateRange.start"
                                    [maxDate]="filtersKeyValue.dateRange.end">
                    </sc-date-picker>
                    <br>
                  </div>
                </div>
              </div>
              <a class="text-hover position-relative left-90" (click)="onDateReset()">reset</a>
            </div>
          </div>
        </div>
      </div>
      <br>

      <div class="input-group mb-3 mt-3 drop-shadow-low position-relative" formGroupName="freeText">
        <button [disabled]="!form.controls.freeText.value.key || form.controls.freeText.invalid"
                (click)="modal.dismiss('Close click')"
                unfocus
                class="btn btn-outline-secondary"
                type="submit"
                id="freeText">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
               class="bi bi-search" viewBox="0 0 16 16">
            <path
                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
        <input type="text"
               formControlName="key"
               class="form-control"
               placeholder="Free text search"
               aria-label="Free text search"
               [minlength]="3"
               [maxlength]="25"
               aria-describedby="freeText">
        <h3 class="text-primary position-absolute top-25"
            *ngIf="form.controls.freeText.value.key"
            style="right: 1rem; top: 4%; z-index:5; cursor: pointer"
            (click)="form.controls.freeText.reset()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
               viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </h3>
      </div>

      <div class="form-check user-select-none m-1 mt-4"
           formGroupName="hidePurchased">
        <input class="form-check-input drop-shadow-low"
               type="checkbox"
               unfocus
               id="hidePurchased"
               formControlName="isChecked">
        <label class="form-check-label text-hover"
               [ngClass]="{'text-primary': form.controls.hidePurchased.value.isChecked}"
               for="hidePurchased">Hide Purchased Coupons
        </label>
      </div>
    </div>

    <div class="modal-footer">
      <button unfocus type="reset" class="btn btn-outline-danger" (click)="modal.dismiss('Close click')">Reset</button>
      <button unfocus type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      <button unfocus type="submit" class="btn btn-outline-success" (click)="modal.dismiss('Close click')"
              [disabled]="form.controls.freeText.invalid">
        Apply
      </button>
    </div>
  </form>
</ng-template>

