<cs-main-header-content>
  <div class="text-center">
    <sc-quick-actions></sc-quick-actions>
    <div class="d-flex flex-row justify-content-center position-absolute translate-middle-x w-100 start-50 top-100">
      <div @offPage
           *ngIf="!isHideOnScroll"
           class="text-primary bg-light-semi-transparent fw-medium rounded-4 p-3 pt-1 pb-1 mt-1 user-select-none">
        {{ (couponsNum > 0 ? 'displaying ' + couponsNum + ' coupons' : 'none found') | titlecase }}
      </div>
    </div>
  </div>
</cs-main-header-content>

<cs-coupons-list></cs-coupons-list>

<sc-wish-list-modal></sc-wish-list-modal>
<sc-filter-modal></sc-filter-modal>
<sc-cart-modal></sc-cart-modal>