<div class="container-fluid">
  <div *ngIf="coupons?.length === 0" class="mt-5">
    <h2>No Purchased Coupons</h2>
    <img class="rounded-5 drop-shadow-low mt-4 mb-4"
         src="assets/gifs/tom-and-jerry-depressed.gif"
         alt="empty coupons image">
  </div>

  <sc-coupon-table *ngIf="coupons?.length > 0" [coupons]="coupons" [options]="{noCheckbox: true}"></sc-coupon-table>
  <button *ngIf="coupons?.length > 0" unfocus type="button" class="btn btn-sm btn-danger mt-5"
          (click)="onPurchaseClear()">
    clear purchase history
  </button>
</div>
