<div class="d-flex text-center">
  <div class="w-50 m-0 align-self-center text-start">{{ coupon.params.title | titlecase }}</div>
  <div class="vr"></div>
  <div class="w-50 m-0 align-self-center">{{ coupon.params.category | titlecase }}</div>
  <div class="vr"></div>
  <div class="w-50 m-0 align-self-center">{{ coupon.params.price | currency:"ILS" }}</div>
  <div class="vr"></div>
  <div class="w-25 m-0 align-self-center">
    <img src="{{coupon.params.imageUrl}}"
         alt="{{'Title of ' + coupon.params.title}}">
  </div>
</div>
