<cs-header [showLogoTitle]="true"></cs-header>
<div class="container-sm">
  <div class="card text-center drop-shadow-low">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs user-select-none">
        <li class="nav-item">
          <a routerLink='login' [routerLinkActive]="['active', 'text-danger']" class="nav-link text-secondary">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a routerLink='signup' [routerLinkActive]="['active', 'text-danger']" class="nav-link text-secondary">
            Signup
          </a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
