<div class="container-sm p-0 h-100">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs justify-content-around">
        <li class="nav-item">
          <a routerLink="info"
             [routerLinkActive]="['active', 'text-danger']"
             class="nav-link text-secondary">Info</a>
        </li>
        <li class="nav-item">
          <a routerLink="purchased"
             [routerLinkActive]="['active', 'text-danger']"
             class="nav-link text-secondary">Purchased Coupons</a>
        </li>
        <li class="nav-item">
          <a routerLink="manage"
             [routerLinkActive]="['active', 'text-danger']"
             class="nav-link text-secondary">Manage</a>
        </li>
      </ul>
    </div>
    <router-outlet></router-outlet>
    <br>
  </div>
</div>

<cs-main-header-content>
  <div class="text-center">
    <h6 class="m-0">{{ name | titlecase }}</h6>
    <h6 class="m-0 opacity-50">{{ lastName | titlecase }}</h6>
  </div>
</cs-main-header-content>