<cs-modal id="wishModal">
  <cs-modal-header [title]="'wish list'"></cs-modal-header>
  <cs-modal-body>
    <sc-coupon-table [coupons]="wishList" (selectedCoupons)="onCouponsSelected($event)"></sc-coupon-table>
  </cs-modal-body>
  <cs-modal-footer class="justify-content-between flex-column flex-sm-row">
    <cs-modal-button (click)="onDelete()"
                     class="btn btn-outline-danger"
                     [disabled]="selectedCoupons.length === 0"
                     [ngClass]="{'w-100': _windowWidth < _switchWidth}"
                     aria-label="Delete selected">
      Delete
    </cs-modal-button>
    <cs-modal-button (click)="onMove()"
                     class="btn btn-outline-secondary"
                     aria-label="Move to cart"
                     [disabled]="isAnySaleEnded || isAnyPurchased || selectedCoupons.length === 0"
                     [ngClass]="{'w-100': _windowWidth < _switchWidth}"
    >Move To Cart
    </cs-modal-button>
    <cs-modal-button class="btn btn-outline-secondary"
                     [ngClass]="{'w-100': _windowWidth < _switchWidth}"
                     action="close">Close
    </cs-modal-button>
  </cs-modal-footer>
</cs-modal>
