<div class="modal fade {{clazz}}"
     [id]="'cs-modal-' + id"
     aria-hidden="true"
     [attr.aria-labelledby]="'cs-modal-label' + id"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <ng-content select="cs-modal-header"></ng-content>
        <button type="button" class="btn-close" unfocus data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ng-content select="cs-modal-body"></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select="cs-modal-footer"></ng-content>
      </div>
    </div>
  </div>
</div>

<ng-content select="cs-modal-button"></ng-content>