@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
// TODO when size changes host element larger that modal itself
:host {
  display: block;
  max-width: $modal-md;

  &.sm {
    max-width: $modal-sm;
  }

  &.lg {
    max-width: $modal-lg;
  }

  &.xl {
    max-width: $modal-xl;
  }
}