<ng-template #filterContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-primary user-select-none">{{ 'filters' | titlecase }}</h4>
  </div>
  <div class="modal-body">

    <!-- CATEGORIES -->
    <nav class="navbar bg-body-secondary">
      <div class="container-fluid user-select-none" role="button"
           (click)="isCategoriesCollapsed = !isCategoriesCollapsed">
        <span [ngClass]="{'text-primary': !isCategoriesCollapsed}">
          Categories <span class="badge" [ngClass]="{'text-bg-primary': !isCategoriesCollapsed, 'text-bg-secondary': isCategoriesCollapsed}">{{filters.categories?.length}}</span>
        </span>

        <div class="position-relative glyph-arrow" [ngClass]="{'glyph-arrow-rotate': !isCategoriesCollapsed}">
          <div class="position-absolute top-50 start-50 translate-middle">
            <svg *ngIf="isCategoriesCollapsed" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor"
                 class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
          </div>
          <div class="position-absolute top-50 start-50 translate-middle text-primary">
            <svg @fade *ngIf="!isCategoriesCollapsed" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                 fill="currentColor"
                 class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path
                  d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>
          </div>
        </div>
      </div>
    </nav>
    <div [(ngbCollapse)]="isCategoriesCollapsed" [attr.aria-expanded]="!isCategoriesCollapsed">
      <div class="form-check user-select-none" *ngFor="let cat of filters.categories">
        <input class="form-check-input" type="checkbox" id="{{cat}}" value="{{cat}}">
        <label class="form-check-label" for="{{cat}}">{{ cat | titlecase }}</label>
      </div>
      <br>
    </div>

    <!-- COMPANY-NAMES -->
    <div class="form-check user-select-none" *ngFor="let com of filters.companyNames">
      <input class="form-check-input" type="checkbox" id="{{com}}" value="{{com}}">
      <label class="form-check-label" for="{{com}}">{{ com | titlecase }}</label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
