<cs-modal *ngIf="form" id="filterModal">
  <cs-modal-header [title]="'filters'"></cs-modal-header>
  <cs-modal-body>
    <form class="border-0" [formGroup]="form">
      <cs-accordion>
        <cs-accordion-item formArrayName="categories" [text]="'categories'" [disabled]="form.controls.freeText.value.value">
          <div [formGroupName]="i"
               *ngFor="let c of form.controls.categories.controls; let i = index">
            <cs-checkbox [label]="c.value.value" formControlName="isChecked"></cs-checkbox>
          </div>
        </cs-accordion-item>

        <cs-accordion-item formArrayName="companyNames" [text]="'companies'" [disabled]="form.controls.freeText.value.value">
          <div [formGroupName]="i"
               *ngFor="let c of form.controls.companyNames.controls; let i = index">
            <cs-checkbox [label]="c.value.value" formControlName="isChecked"></cs-checkbox>
          </div>
        </cs-accordion-item>

        <cs-accordion-item formGroupName="priceRange" [text]="'price'" [disabled]="form.controls.freeText.value.value">
          <div class="row">
            <cs-input formControlName="start"
                           class="col"
                           [min]="filters.priceRange.start"
                           [max]="filters.priceRange.end"
                           type="currency"
                           [label]="'min price'">
            </cs-input>
            <cs-input formControlName="end"
                           class="col"
                           [min]="filters.priceRange.start"
                           [max]="filters.priceRange.end"
                           type="currency"
                           [label]="'max price'">
            </cs-input>
          </div>
        </cs-accordion-item>
      </cs-accordion>

      <div formGroupName="freeText">
        <cs-input type="search"
                       label="Free text search"
                       [min]="3"
                       [max]="20"
                       formControlName="value">
        </cs-input>
      </div>

      <div class="m-1 mt-4" formGroupName="hidePurchased">
        <cs-checkbox class="text-primary" [label]="'Hide Purchased Coupons'" formControlName="isChecked"></cs-checkbox>
      </div>
    </form>
  </cs-modal-body>
  <cs-modal-footer>
    <cs-modal-button class="btn btn-outline-danger" action="close" type="reset" (click)="onFormReset()">Reset</cs-modal-button>
    <cs-modal-button class="btn btn-outline-secondary" action="close" (click)="onCancel()" aria-label="Cancel">Cancel</cs-modal-button>
    <cs-modal-button class="btn btn-outline-success" action="close" type="submit" (click)="onSubmit()" [disabled]="form.controls.freeText.invalid" aria-label="Apply filters">Apply</cs-modal-button>
  </cs-modal-footer>
</cs-modal>
