:host {
  outline: none;
  color: var(--secondary-color);

  svg {
    border-radius: 0.4rem;
    transition: all ease-out 80ms;
  }

  &:hover, &:focus-visible {
    color: var(--primary-color);

    svg {
      scale: 1.3;
    }
  }
}