<div class="checkbox-container">
  <input type="checkbox"
         #checkbox
         class="drop-shadow-low"
         [attr.aria-label]=" placeholder + ' input'"
         [id]="id"
         [checked]="value"
         [disabled]="isDisabled"
         tabindex="{{disabled ? -1 : 0}}"
         (input)="handleInput($event)">
  <svg *ngIf="value" viewBox="0 0 24 24" stroke="white" stroke-width="3" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="m9 12, L12 15, 12, 15, 12, 15, V15, L18 8" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
  <svg *ngIf="indeterminate" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" stroke-width="2">
    <path fill="none" stroke="white" d="m9, 12 L17, 12" stroke-linecap="round" stroke-linejoin="round" />
  </svg>
</div>
<label for="{{id}}">{{ placeholder | titlecase }}</label>
