:host {
  --checkbox-focus-shadow: 0 0 0 0.3rem #{fade-out(darken(red, 0.5), 0.7)};
  --checkbox-bg-unchecked: white;
  --checkbox-bg-checked: red;
  --checkbox-border-checked: red;
  --checkbox-border-unchecked: #e7e7e7;
  --checkbox-color-checked: white;
  --checkbox-color-unchecked: transparent;
  --checkbox-transition-function: cubic-bezier(.39, .18, .44, 1.92);
  --checkbox-transition-duration: 150ms;

  cursor: pointer;
  display: inline-flex;
  height: 40px;
  user-select: none;
  align-items: center;
  margin: 0;
  color: currentColor;
  width: auto !important;

  > label {
    pointer-events: none;
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
    width: calc(100% - 18px);
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background: linear-gradient(0, red, red) 0 100% no-repeat;
    background-size: 0 0.1em;
    transition: background-size 250ms;
  }

  .checkbox-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin: 0.5rem;

    > svg {
      position: absolute;
      width: 21px;
      height: 21px;
      z-index: 1;
      pointer-events: none;
    }

    > input {
      cursor: pointer;
      position: absolute;
      inset: 0;
      outline: none;
      appearance: none;
      background-color: var(--checkbox-bg-unchecked);
      display: grid;
      place-content: center;
      width: 16px;
      height: 16px;
      border: 1px solid var(--checkbox-border-unchecked);
      border-radius: 0.3rem;
      transform: scale(1);
      color: currentColor;
      transition-duration: var(--checkbox-transition-duration);
      transition-timing-function: var(--checkbox-transition-function);

      &:indeterminate, &:checked {
        background-color: var(--checkbox-bg-checked);
        border-color: var(--checkbox-border-checked);
      }

      &:focus-visible {
        box-shadow: var(--checkbox-focus-shadow);
      }

      &:checked {
        transform: scale(1.3);
      }
    }
  }

  &:hover {
    > input {
      box-shadow: var(--checkbox-focus-shadow);
    }

    > label {
      transition-duration: 100ms;
      transition-timing-function: linear;
      background-size: 100% 0.1em;
    }
  }

}