<form class="user-select-none w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
  <img src="{{form.controls.image.value}}" alt="user image">

  <div class="input-group has-validation mt-3">
    <span class="input-group-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image"
           viewBox="0 0 16 16">
        <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
        <path
            d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
      </svg>
    </span>
    <div class="form-floating">
      <input type="text"
             formControlName="image"
             class="form-control"
             id="signup-image"
             placeholder="image">
      <label for="signup-image">Image</label>
    </div>
  </div>

  <div class="input-group has-validation mt-3">
    <span class="input-group-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard"
           viewBox="0 0 16 16">
        <path
            d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4m4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5M9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8m1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5"/>
        <path
            d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2zM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96q.04-.245.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 1 1 12z"/>
      </svg>
    </span>
    <div class="form-floating">
      <select formControlName="type" class="form-select" aria-label="User type select">
        <option value="customer">Customer</option>
        <option value="company">Company</option>
      </select>
      <label for="signup-email">User Type</label>
    </div>
  </div>

  <div class="input-group has-validation mt-3">
    <span class="input-group-text">@</span>
    <div class="form-floating">
      <input type="email"
             formControlName="email"
             required
             class="form-control"
             [ngClass]="{'is-valid': form.controls.email.valid, 'is-invalid': form.controls.email.touched
             && form.controls.email.invalid}"
             id="signup-email"
             placeholder="Email">
      <label for="signup-email">Email</label>
    </div>
  </div>
  <div class="p-5 pt-0 pb-0">
    <div *ngIf="form.controls.email.touched && !form.controls.email.value" class="text-danger">
      Please enter an email.
    </div>
    <div *ngIf="form.controls.email.touched && form.controls.email.value && form.controls.email.invalid"
         class="text-danger">
      Please enter a valid email.
    </div>
  </div>

  <div class="input-group has-validation mt-3">
    <span class="input-group-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock"
           viewBox="0 0 16 16">
        <path
            d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2M3 8a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1z"/>
      </svg>
    </span>
    <div class="form-floating">
      <input type="password"
             formControlName="password"
             required
             class="form-control"
             [ngClass]="{'is-valid': form.controls.password.valid, 'is-invalid': form.controls.password.touched
             && form.controls.password.invalid}"
             id="signup-password"
             [minlength]="minLength"
             [maxlength]="maxLength"
             placeholder="Password">
      <label for="signup-password">Password</label>
    </div>
  </div>
  <div class="p-5 pt-0 pb-0">
    <div *ngIf="form.controls.password.touched && !form.controls.password.value"
         class="text-danger">
      Please enter a password.
    </div>
    <div *ngIf="form.controls.password.touched && form.controls.password.value &&
      form.controls.password.invalid"
         class="text-danger">
      Password must be between {{ minLength }} and {{ maxLength }} characters.
    </div>
  </div>

  <div class="input-group has-validation mt-3">
    <span class="input-group-text">
      <svg *ngIf="type === 'customer'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           class="bi bi-person-bounding-box" viewBox="0 0 16 16">
          <path
              d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        </svg>
      <svg *ngIf="type === 'company'" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
           class="bi bi-building"
           viewBox="0 0 16 16">
        <path
            d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
        <path
            d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3z"/>
      </svg>
    </span>
    <div class="form-floating">
      <input type="text"
             formControlName="name"
             required
             class="form-control"
             [ngClass]="{'is-valid': form.controls.name.valid, 'is-invalid': form.controls.name.touched
             && form.controls.name.invalid}"
             id="signup-name"
             [minLength]="3"
             placeholder="Name">
      <label for="signup-name">{{ type === 'customer' ? 'First' : 'Company' }} Name</label>
    </div>
  </div>
  <div class="p-5 pt-0 pb-0">
    <div *ngIf="form.controls.name.touched && !form.controls.name.value" class="text-danger">
      Please enter {{ type === 'customer' ? 'first' : 'company' }} name.
    </div>
    <div *ngIf="form.controls.name.touched && form.controls.name.value && form.controls.name.invalid"
         class="text-danger">
      {{ type === 'customer' ? 'First' : 'Company' }} name must be at least 3 characters.
    </div>
  </div>

  <div *ngIf="type === 'customer'">
    <div class="input-group has-validation mt-3">
      <span class="input-group-text">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
             class="bi bi-person-bounding-box" viewBox="0 0 16 16">
          <path
              d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5"/>
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
        </svg>
      </span>
      <div class="form-floating">
        <input type="text"
               formControlName="lastName"
               class="form-control"
               [ngClass]="{'is-valid': form.controls.lastName.valid, 'is-invalid': form.controls.lastName.touched
             && form.controls.lastName.invalid}"
               id="signup-lastname"
               [minLength]="3"
               placeholder="Last Name">
        <label for="signup-lastname">Last Name</label>
      </div>
    </div>
  </div>

  <div *ngIf="form.controls.lastName.invalid" class="p-4 pt-0">
    <div *ngIf="form.controls.lastName.touched && !form.controls.lastName.value" class="text-danger">
      Please enter last name.
    </div>
    <div *ngIf="form.controls.lastName.touched && form.controls.lastName.value && form.controls.lastName.invalid"
         class="text-danger">
      Last name must be at least 3 characters.
    </div>
  </div>
  <div *ngIf="errorMessage" class="text-danger">{{ errorMessage | titlecase }}</div>

  <div class="list-group text-center mt-3">
    <button [disabled]="form.invalid"
            class="fw-bolder list-group-item list-group-item-success list-group-item-action"
            type="submit">Signup
    </button>
    <button [disabled]="form.pristine"
            [ngClass]="{'text-danger': !form.pristine, 'text-bg-light': !form.pristine}"
            class="fw-light list-group-item list-group-item-action"
            (click)="onReset()"
            type="button">Clear Form
    </button>
  </div>
</form>