<div class="form-floating">
  <select class="form-select"
          [ngClass]="{'is-valid': isRequired && isValid, 'is-invalid': isRequired && isTouched && !isValid}"
          [attr.aria-label]="label + ' select' | titlecase"
          [id]="id"
          [value]="value"
          (input)="handleInput($event)">
    <option [selected]="value == null" hidden class="text-secondary pt-1 pb-1" value="">Choose {{ label | titlecase }}...</option>
    <option class="pt-1 pb-1" *ngFor="let option of options" [selected]="value === option" [value]="option">{{ '' + option  | titlecase }}</option>
  </select>
  <label [for]="id">{{ label | titlecase }}</label>
</div>