<div #content class="bg-main min-vh-100 min-vw-100 overflow-y-auto overflow-x-hidden position-relative pt-7 pb-10">
  <cs-header></cs-header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <sc-footer></sc-footer>
</div>

<cs-confirm-navigation></cs-confirm-navigation>
<button id="navigationConfirmToggle"
        style="display: none"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#navigationConfirmBackdrop">
</button>

<cs-toast-container></cs-toast-container>
<cs-modals-container></cs-modals-container>
<cs-backdrop></cs-backdrop>
