//@import "bootstrap/scss/mixins/buttons";

@mixin theme-colors($theme-colors) {
  $colors: map-keys($theme-colors);
  @each $color in $colors {
    .text-#{$color} {
      color: map-get($theme-colors, $color) !important;
    }
    .bg-#{$color} {
      background-color: map-get($theme-colors, $color) !important;
    }
    .border-#{$color} {
      border-color: map-get($theme-colors, $color) !important;
    }
    .btn-outline-#{$color} {
      color: map-get($theme-colors, $color) !important;
      border-color: map-get($theme-colors, $color) !important;

      &:hover, &:active, &:focus-visible {
        color: $gray-100 !important;
        background-color: map-get($theme-colors, $color) !important;
        border-color: map-get($theme-colors, $color) !important;
      }

      &.disabled {
        color: $gray-600 !important;
        border-color: $gray-600 !important;
        &:hover, &:active, &:focus-visible {
          background-color: $gray-200 !important;
        }
      }
    }
  }
}
