@import "./button.function";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/buttons";
//
//.accordion-button:hover {
//  z-index: inherit !important;
//}
//
//.form-check-input[type="checkbox"] {
//  transition-duration: 200ms;
//  transition-timing-function: cubic-bezier(.39, .18, .44, 1.92);
//
//  &:checked {
//    transform: scale(1.35);
//  }
//}

$default-colors: (
  "primary": $red-500,
  "secondary": $gray-500,
  "success": $green-500,
  "info": #6cb2eb,
  "warning": #ff851b,
  "danger": #e3342f,
  "light": $gray-300,
  "dark": $gray-900
);

:root {
  scrollbar-color: $red-500 $gray-200;
  color-scheme: light;
  background: $gray-300;
  @include theme-colors($default-colors);
}

@each $color, $value in $default-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant(map-get($default-colors, $color));
    //color: var(--bs-#{$color});
    //border-color: var(--bs-#{$color});
  //}

  //
  //  &:hover {
  //    background-color: var(--bs-#{$color});
  //    color: #fff;
  //  }
  }
}

@import "bootstrap/scss/bootstrap";