@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "./theme.function";

:root {
  $primary-color: #e7103d;
  --focus-color: #{$purple-500};
  --primary-color: #{$primary-color};
  --secondary-color: #{$gray-500};
  --fa-focus-shadow-color: var(--focus-color);
  --fa-focus-shadow: 0 0 0 0.31rem hsl(from var(--fa-focus-shadow-color) h s l / .35);
  scrollbar-color: #{$primary-color} #{$white};
  color-scheme: light;

  html, body {
    background: #{$gray-500};

    *:focus {
      outline: none;
      --border-color: hsl(from var(--focus-color) h s l / .7);
      box-shadow: var(--fa-focus-shadow);
      border-color: var(--border-color);
    }
  }

  @include recolor-main($primary-color);
  @include recolor-prefix(primary, $primary-color);
  @include recolor-btn(primary, $primary-color);
  @include recolor-btn(secondary, $gray-600);
  @include recolor-btn(danger, $red-500);

  .bg-main {
    background: url('/assets/images/main-bg.png');
    background-size: 15rem;
  }

  .bg-noisy {
    background: linear-gradient(45deg, rgba(86, 0, 157, 0.02) 0%, rgba(164, 9, 166, 0.02) 25%, rgba(0, 60, 255, 0.02) 50%, rgba(9, 166, 46, 0.02) 75%, rgba(157, 0, 0, 0.02) 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
    url("/assets/images/noise-pattern.png"),
    linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255));
    background-size: 100vw 100vh, 100%, 80px, 100%;
  }

}