<div class="input-group drop-shadow-high rounded-4 overflow-hidden m-2">
  <div class="d-flex justify-content-center align-items-center input-group-text text-center m-0" style="width: 30px">
    <label class="text-secondary" style="transform: rotateZ(90deg); font-size: 0.8rem">{{ placeholder | titlecase }}</label>
  </div>
  <div class="position-relative wheel-container m-0">
    <div class="wheel-picker-selection position-absolute w-100 start-0 top-50 translate-middle-y"></div>
    <div class="wheel-picker overflow-y-scroll user-select-none" (scroll)="onScroll($event)"
         (wheel)="onWheel($event)">
      <div #wheel class="wheel w-100 position-absolute">
        <div class="position-relative text-nowrap text-center" *ngFor="let val of $any(values) ; let i = index" [class.selected]="i === selectedIndex">{{ val }}</div>
      </div>
    </div>
  </div>
</div>

