<div class="position-relative wheel-container m-2 drop-shadow-high">
  <div class="position-absolute w-100 bg-primary start-0 top-50 translate-middle-y" style="height: 25px"></div>
  <div>{{scrollPos}}</div>
  <div class="wheel-picker overflow-y-scroll user-select-none" (scrollend)="onScrollEnd($event)" (scroll)="onScroll($event)"
       (wheel)="onWheel($event)">
    <div #wheel class="wheel position-absolute">
      <div class="z-1 position-relative" *ngFor="let val of values; let i = index" [class.selected]="i === selectedIndex" [style.transform]="getTransform(i)">{{ val }}</div>
    </div>
  </div>
</div>
<button (click)="save()">Save</button>