<div class="accordion-header transition-duration"
     [ngClass]="{'checked': this.options.isChecked}">
  <div class="d-flex align-content-center">
    <!-- CHECKBOX -->
    <div *ngIf="!options.noCheckbox" class="checkbox flex-shrink-1 align-self-center transition-duration"
         [ngClass]="{'bg-primary': this.options.isChecked}"
         type="button"
         (click)="onCheck()">
      <input class="form-check-input"
             [ngClass]="{'drop-shadow-low': !this.options.isChecked, 'checked': this.options.isChecked}"
             type="checkbox"
             style="cursor: pointer"
             [checked]="this.options.isChecked">
    </div>

    <!-- TITLE WITH CHECKBOX -->
    <div *ngIf="!options.noCheckbox"
         class="position-relative flex-grow-1 text-start text-nowrap align-self-stretch m-0 ps-3 user-select-none"
         [ngClass]="{'text-primary': this.options.isChecked}"
         style="cursor: pointer"
         (click)="onCheck()">
      <div class="d-flex align-items-center h-100">
        <span>{{ coupon.params.title | sliceTxt:sliceVal }}</span>
        <span *ngIf="!options.noCheckbox && isSaleEnded && !isPurchased"
              [ngClass]="{'text-dark': this.options.isChecked}"
              class="position-absolute text-nowrap text-primary fs-7 opacity-50"><em>*sale ended</em></span>
        <span *ngIf="!options.noCheckbox && isPurchased"
              [ngClass]="{'text-dark': this.options.isChecked}"
              class="position-absolute text-nowrap text-success fs-7 opacity-50"><em>*purchased</em></span>
      </div>
    </div>

    <!-- TITLE WITH NO CHECKBOX -->
    <div *ngIf="options.noCheckbox"
         class="position-relative flex-grow-1 text-start text-nowrap align-self-stretch m-0 ps-3 user-select-none"
         style=" cursor: pointer"
         (click)="onCheck()"
         data-bs-toggle="collapse"
         [attr.data-bs-target]="'#collapse' + index"
         [attr.aria-controls]="'collapse' + index">
      <div class="d-flex align-items-center h-100">
        <span>{{ coupon.params.title | sliceTxt:sliceVal }}</span>
        <span *ngIf="coupon.params.isSaleEnded"
              class="position-absolute text-nowrap text-primary fs-7 opacity-50"><em>*sale ended</em></span>
      </div>
    </div>

    <!-- ARROW BUTTON -->
    <button class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            aria-expanded="false"
            [attr.data-bs-target]="'#collapse' + index"
            [attr.aria-controls]="'collapse' + index">
    </button>
  </div>
</div>

<!-- BODY -->
<div id="collapse{{index}}" class="accordion-collapse drop-inset-shadow collapse" [attr.data-bs-parent]="'#' + parentId">
  <div class="accordion-body">
    <div class="row">
      <div class="col text-start text-nowrap">
        <p class="opacity-50 m-0 fs-7 user-select-none"><em>Category</em></p>
        <p class="m-0 mb-2">{{ coupon.params.category | titlecase }}</p>
        <p class="opacity-50 m-0 fs-7 user-select-none"><em>Price</em></p>
        <p class="m-0 mb-2">{{ coupon.params.price | currency:"ILS" }}</p>
        <p class="opacity-50 m-0 fs-7 user-select-none"><em>Company</em></p>
        <p class="m-0 mb-2">{{ coupon.params.companyName | titlecase }}</p>
        <p class="opacity-50 m-0 fs-7 user-select-none"><em>Company Email</em></p>
        <p class="m-0 mb-2">{{ coupon.params.companyEmail | lowercase }}</p>
      </div>
      <div class="col position-relative">
        <img class="opacity-0 user-select-none" src="{{coupon.params.image}}" alt="coupon image">
        <img class="position-absolute translate-middle start-50 top-50 rounded-5 drop-shadow-low user-select-none"
             src="{{coupon.params.image}}"
             alt="coupon image">
      </div>
    </div>
  </div>
</div>
