@import "src/styles";

img {
  width: 50%;
  aspect-ratio: 1;
  min-width: 150px;
  max-width: 300px;
}

*[type="button"] {
  width: 50px;
  padding: 1rem;
}

span {
  left: 1rem;
  top: calc(100% - 1.15rem);
}

div.checkbox {
  &.checked {
    &:focus-within {
      //background: $color-red-700 !important;
    }
  }
}

.accordion-button {
  background-color: $color-white-transparent !important;
  border-left: 1px solid $color-white-transparent;
}

.accordion-header {

  &.checked {
    //background-color: $color-red-300 !important;

    * {
      //color: $color-white !important;
    }
  }
}

.form-check-input {
  &.checked {
    border-color: transparent !important;
  }
}