<div class="input-group has-validation mt-3">
  <span style="min-width: 42px" class="input-group-text rounded-end-0">
    <ng-content></ng-content>
  </span>
  <div class="form-floating">
    <select class="form-select"
            [attr.aria-label]="placeholder + ' select' | titlecase"
            [id]="id"
            [value]="value"
            (input)="handleInput($event)">
      <option selected hidden class="text-secondary pt-1 pb-1" value="">Choose {{ placeholder | titlecase }}...</option>
      <option class="pt-1 pb-1" *ngFor="let option of options">{{ option | titlecase }}</option>
    </select>
    <label [for]="id">{{ placeholder | titlecase }}</label>
  </div>
</div>