:host {
  &:focus, &:focus-visible {
    border: 3px solid gray !important;
  }
}

:host(:active).disabled {
  background-color: initial !important;
  color: gray !important;
  opacity: 0.4 !important;
}