<ng-content></ng-content>
<!--<button *ngIf="id" [id]="id" [attr.data-bs-target]="'#' + modalId"-->
<!--        #csModalButton-->
<!--        class="position-relative"-->
<!--        [ngClass]="clazz ? clazz : 'btn btn-primary'"-->
<!--        [disabled]="disabled"-->
<!--        data-bs-toggle="modal">-->
<!--  <ng-content></ng-content>-->
<!--</button>-->

<!--<button *ngIf="!id" [attr.data-bs-target]="'#' + modalId"-->
<!--        #csModalButton-->
<!--        class="position-relative"-->
<!--        [ngClass]="clazz ? clazz : 'btn btn-primary'"-->
<!--        [disabled]="disabled"-->
<!--        data-bs-toggle="modal">-->
<!--  <ng-content></ng-content>-->
<!--</button>-->