<div class="drop-shadow-low m-0 rounded-3">

  <cs-checkbox *ngIf="!options?.noCheckbox && coupons?.length > 0"
               [checked]="_isChecked"
               (click)="onIndeterminateClick()"
               [indeterminate]="_isIndeterminate"
               [placeholder]="_isChecked ? 'unselect all' : 'select all'"
               class="fw-semibold">
  </cs-checkbox>

  <div class="accordion mt-3" id="accordionTable{{randomId}}">
    <ng-container *ngIf="coupons?.length > 0">
      <div class="accordion-item" *ngFor="let coupon of coupons; let i = index">
        <cs-coupon-item [index]="i"
                        parentId="accordionTable{{randomId}}"
                        [coupon]="coupon"
                        [isPurchased]="isPurchased(coupon) | async"
                        [isSaleEnded]="isSaleEnded(coupon)"
                        [options]="{isChecked: has(coupon.params.id), noCheckbox: options.noCheckbox}"
                        (onSelected)="onCheckHandle($event)">
        </cs-coupon-item>
      </div>
    </ng-container>
    <ng-container *ngIf="!(coupons?.length > 0)">
      <h4 class="text-danger user-select-none">No Coupons</h4>
    </ng-container>
  </div>
</div>