<div class="input-group has-validation mt-3">
  <span style="min-width: 42px" class="input-group-text rounded-end-0">
    <span class="fs-5" *ngIf="type === 'currency'">₪</span>
    <ng-content *ngIf="type !== 'currency'"></ng-content>
  </span>
  <div class="form-floating">
    <ng-container *ngTemplateOutlet="nodeName === 'CS-FORM-SELECT' ? selectType : inputType"></ng-container>
    <label [for]="id">{{ placeholder | titlecase }}</label>
  </div>
</div>

<div *ngIf="errorMessages.length > 0" class="p-5 pt-0 pb-0">
  <div *ngFor="let error of errorMessages" class="text-start text-danger">
    {{ error }}
  </div>
</div>

<ng-template #selectType>
  <select class="form-select"
          [ngClass]="{'is-valid': isValid, 'is-invalid': isTouched && !isValid }"
          [attr.aria-label]="placeholder + ' select' | titlecase"
          [id]="id"
          [value]="value"
          (input)="handleInput($event)">
    <option selected hidden class="text-secondary pt-1 pb-1" value="">Choose {{ placeholder | titlecase }}...</option>
    <option class="pt-1 pb-1" *ngFor="let option of options">{{ '' + option | titlecase }}</option>
  </select>
</ng-template>

<ng-template #inputType>
  <input *ngIf="type !== 'textarea'"
         [type]="type === 'currency' ? 'number' : type"
         class="form-control"
         [ngClass]="{'is-valid': isValid, 'is-invalid': isTouched && !isValid }"
         [attr.aria-label]=" placeholder + ' input'"
         [id]="id"
         [value]="type === 'currency' ? value : value"
         (input)="handleInput($event)"
         [placeholder]="placeholder | titlecase">
  <textarea *ngIf="type === 'textarea'"
            class="form-control"
            [ngClass]="{'is-valid': isValid, 'is-invalid': isTouched && !isValid }"
            [attr.aria-label]="placeholder + ' input'"
            [id]="id"
            [value]="value"
            (input)="handleInput($event)"
            [placeholder]="placeholder | titlecase">
    </textarea>
</ng-template>