<cs-modal size="lg" backdrop="static" id="create-coupon-modal">
  <cs-modal-header>
    <h4 class="text-primary user-select-none">Create Coupon</h4>
  </cs-modal-header>
  <cs-modal-body>
    <form *ngIf="form" [formGroup]="form">
      <img class="w-25 rounded-3 drop-shadow-high" src="{{form.controls.image.value}}" alt="coupon image">
      <div class="input-group has-validation mt-3">
          <span class="input-group-text rounded-end-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image"
                 viewBox="0 0 16 16">
              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
              <path
                  d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
            </svg>
          </span>
        <div class="form-floating">
          <input type="text"
                 formControlName="image"
                 class="form-control"
                 id="coupon-image"
                 placeholder="image">
          <label for="coupon-image">Image</label>
        </div>
      </div>

      <div class="input-group has-validation mt-3">
          <span class="input-group-text rounded-end-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image"
                 viewBox="0 0 16 16">
              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
              <path
                  d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
            </svg>
          </span>
        <div class="form-floating">
          <input type="text"
                 formControlName="category"
                 class="form-control"
                 id="coupon-category"
                 placeholder="image">
          <label for="coupon-category">Category</label>
        </div>
      </div>
    </form>
  </cs-modal-body>
  <cs-modal-footer>
    <cs-modal-button class="btn btn-outline-secondary">Close</cs-modal-button>
    <cs-modal-button [disabled]="form.invalid" type="submit" class="btn btn-outline-secondary">Save</cs-modal-button>
  </cs-modal-footer>
</cs-modal>