:host {
  position: relative;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;

  &:not(.disabled) {
    cursor: pointer;
  }

  &:hover, &:focus, &:focus-visible {
    z-index: 1;
  }

  &.active {
    --active-bg-color: hsl(from var(--primary-color) h 50 90);
    background-color: var(--active-bg-color);
  }

}