@import "src/styles";

$height: 125px;

.input-group {
  width: calc(20% + 22px);
  min-width: 80px;
}

.wheel-container {
  min-width: 50px;
  width: 20%;
  max-width: 150px;
  min-height: $height;
  background: linear-gradient(
      0deg,
      rgba(222, 222, 222, 0.5) 0%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 60%,
      rgba(222, 222, 222, 0.5) 100%
  );
  scrollbar-color: transparent transparent !important;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wheel-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $height;
  perspective: 1000px;
  overscroll-behavior: contain;

  &-selection {
    height: 35px;
    background-color: $color-red-200;
  }
}


.wheel {
  top: calc(50% - 23px);
  perspective: 1000px;
  overscroll-behavior: contain;
  transition: transform 150ms;
  transform-style: preserve-3d;


  div {
    margin: 10px 0;
    height: 25px;
    transition: color 500ms;
    color: #a1a6af;

    &:first-child {
      //margin-top: 10px;
    }

    &:last-child {
      margin-bottom: 50px;
    }
  }
}

.selected {
  font-weight: bold;
  color: $color-red-700 !important;
}