/* You can add global styles to this file, and also import other style files */

// Main Palette
$color-red-100: #faebed;
$color-red-300: #d74747;
$color-red-500: #e7103d;
$color-red-600: #A0153E;
$color-red-700: #5D0E41;
$color-blue-700: #00224D;
$color-white: rgb(255, 255, 255);
$color-white-transparent: rgba(255, 255, 255, 0.65);
$color-white-semi-transparent: rgba(255, 255, 255, 0.85);

$shadow-elevation-low: 0 1px 1px rgba(0, 0, 0, 0.035),
0 2px 2px rgba(0, 0, 0, 0.035),
0 4px 4px rgba(0, 0, 0, 0.035);

$shadow-elevation-medium: 0 1px 1px rgba(0, 0, 0, 0.25),
0 2px 2px rgba(0, 0, 0, 0.20),
0 4px 4px rgba(0, 0, 0, 0.15),
0 8px 8px rgba(0, 0, 0, 0.10),
0 16px 16px rgba(0, 0, 0, 0.05);

$shadow-elevation-high: rgba(0, 0, 0, 0.05) 0px 1px 2px,
rgba(0, 0, 0, 0.05) 0px 2px 4px,
rgba(0, 0, 0, 0.05) 0px 4px 8px,
rgba(0, 0, 0, 0.05) 0px 8px 16px,
rgba(0, 0, 0, 0.05) 0px 16px 32px,
rgba(0, 0, 0, 0.05) 0px 32px 64px;

body {
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
  height: 100vh;
}

@supports (height: 100svh) {
  html, body {
    height: 100svh;
  }
}

*:disabled {
  opacity: 0.5 !important;
  cursor: not-allowed !important;
}

button:disabled {
  pointer-events: visible !important;
  opacity: 0.5 !important;
}

img {
  max-width: 100%;
}

.transition-duration {
  transition-duration: 300ms;
}

.color-white {
  color: $color-white !important;
}

.drop-shadow-low {
  box-shadow: $shadow-elevation-low;
}

.drop-shadow-medium {
  box-shadow: $shadow-elevation-medium;
}

.drop-shadow-high {
  box-shadow: $shadow-elevation-high;
}

.bg-main {
  background-image: url('./assets/images/main-bg.png');
  background-size: 17rem;
  background-attachment: fixed;
}

.bg-primary-light {
  background-color: $color-red-100;
}

.bg-light-transparent {
  background-color: $color-white-transparent;
  box-shadow: $shadow-elevation-low;
  backdrop-filter: blur(5px);
}

.bg-light-semi-transparent {
  background-color: $color-white-semi-transparent;
  box-shadow: $shadow-elevation-low;
  backdrop-filter: blur(6px);
}

.top-5rem {
  top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.fs-7 {
  font-size: 0.7rem !important;
}

//  sm: 576px
@media (min-width: 576px) {
  .pt-6 {
    padding-top: calc(6rem * 1.2);
  }

  .pt-7 {
    padding-top: calc(7rem * 1.2);
  }

}

//  md: 768px
@media (min-width: 768px) {
  .pt-6 {
    padding-top: calc(6rem * 1.4);
  }

  .pt-7 {
    padding-top: calc(7rem * 1.4);
  }


  .bg-main {
    background-size: 22rem;
  }
}

//  lg: 992px
@media (min-width: 992px) {
  .bg-main {
    background-size: 26rem;
  }
}

//  xl: 1200px
@media (min-width: 1200px) {

}

//  xl: 1400px
@media (min-width: 1400px) {
  .pt-6 {
    padding-top: calc(6rem * 1.6);
  }

  .pt-7 {
    padding-top: calc(7rem * 1.6);
  }

  .bg-main {
    background-size: 30rem;
  }
}

@media (hover: none) {
  *:hover {
    text-decoration: inherit !important;
  }
}