<div tabindex="-1" class="main-logo position-relative text-primary">
  <cs-icon-button (click)="onLogoClick()">
    <svg *ngIf="!isBlinked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
      <defs>
        <style>
          .cls-1 {
            fill: none;
            stroke: #fff;
            stroke-width: 24px;
            stroke-linecap: round;
          }

          .cls-4 {
            fill: currentColor;
            stroke: currentColor;
          }
        </style>
      </defs>
      <g>
        <path class="cls-4"
              d="M486,298.8v-106.5c0-15.4-5-30.3-14.1-42.7l-64.9-87.1c-8.9-12-21.4-20.9-35.7-25.4L264.5,3.3c-14-4.4-29.1-4.4-43.1,0l-106.7,33.8c-14.3,4.5-26.7,13.4-35.7,25.4L14.1,149.6c-9.1,12.3-14.1,27.3-14.1,42.6v106.5c0,15.4,5,30.3,14.1,42.7l64.9,87.1c8.9,12,21.4,20.9,35.7,25.4l106.7,33.8c14,4.4,29.1,4.4,43.1,0l106.7-33.8c14.3-4.5,26.7-13.4,35.7-25.4l64.9-87.1c9.2-12.3,14.2-27.3,14.2-42.7h0Z" />
      </g>
      <path class="cls-1" d="M82.1,260.5s3,70.2,44.1,111.3c41.1,41.1,110.3,43.1,110.3,43.1" />
      <line class="cls-1" x1="346.2" y1="150.7" x2="192.1" y2="304.8" />
      <ellipse class="cls-1" cx="183.9" cy="149.1" rx="47.6" ry="58.1" />
      <ellipse class="cls-1" cx="345.9" cy="312.1" rx="47.6" ry="58.1" />
    </svg>
    <svg *ngIf="isBlinked" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
      <defs>
        <style>
          .cls-1 {
            fill: none;
            stroke: #fff;
            stroke-width: 24px;
            stroke-linecap: round;
          }

          .cls-4 {
            fill: currentColor;
            stroke: currentColor;
          }
        </style>
      </defs>
      <g>
        <path class="cls-4"
              d="M486,298.8v-106.5c0-15.4-5-30.3-14.1-42.7l-64.9-87.1c-8.9-12-21.4-20.9-35.7-25.4L264.5,3.3c-14-4.4-29.1-4.4-43.1,0l-106.7,33.8c-14.3,4.5-26.7,13.4-35.7,25.4L14.1,149.6c-9.1,12.3-14.1,27.3-14.1,42.6v106.5c0,15.4,5,30.3,14.1,42.7l64.9,87.1c8.9,12,21.4,20.9,35.7,25.4l106.7,33.8c14,4.4,29.1,4.4,43.1,0l106.7-33.8c14.3-4.5,26.7-13.4,35.7-25.4l64.9-87.1c9.2-12.3,14.2-27.3,14.2-42.7h0Z" />
      </g>
      <path class="cls-1" d="M82.1,260.5s3,70.2,44.1,111.3c41.1,41.1,110.3,43.1,110.3,43.1" />
      <line class="cls-1" x1="346.2" y1="150.7" x2="192.1" y2="304.8" />
      <ellipse class="cls-1" cx="183.9" cy="149.1" rx="47.6" ry="58.1" />
      <ellipse class="cls-1" cx="345.9" cy="312.1" rx="9" ry="55.2"
               transform="translate(-119.7 295.4) rotate(-40)" />
    </svg>
  </cs-icon-button>

  <h2 *ngIf="isShowTitle"
      (click)="onLogoClick()"
      class="position-absolute translate-middle-y top-50 m-0 ms-5 logo-title user-select-none text-primary"
      style="width: 200px; margin-top: 0.15rem !important;">
    Coupons As Art
  </h2>
</div>