<cs-modal id="cartModal">
  <cs-modal-header>
    <h4 class="modal-title text-primary user-select-none">{{ 'cart' | titlecase }}</h4>
  </cs-modal-header>
  <cs-modal-body>
    <sc-coupon-table [coupons]="cartList" [options]="{selectAll: true}"
                     (selectedCoupons)="onCouponsSelected($event)">
    </sc-coupon-table>
  </cs-modal-body>
  <cs-modal-footer class="justify-content-between flex-column flex-sm-row">
    <div *ngIf="errorMessage" class="p-2 text-center text-danger bg-danger-subtle text-wrap">
      {{ errorMessage }}
    </div>

    <div class="btn-group dropup"
         [ngClass]="{'w-100': _windowWidth < _switchWidth}"
         role="group">
      <button unfocus
              type="button"
              [disabled]="_selectedCoupons.length === 0"
              [ngClass]="{
                'btn-outline-primary': _selectedCoupons.length > 0,
                'btn-outline-secondary': _selectedCoupons.length === 0,
              }"
              class="btn dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false">
        Manage
      </button>
      <ul class="dropdown-menu ps-2 pe-2 drop-shadow-high user-select-none">
        <li unfocus class="dropdown-item" (click)="onMove()" style="cursor: pointer">Move To Wish</li>
        <li unfocus class="dropdown-item" (click)="onDelete()" style="cursor: pointer">Delete</li>
      </ul>
    </div>

    <div class="btn-group dropup" *ngIf="isUserPresent" [ngClass]="{'w-100': _windowWidth < _switchWidth}">
      <button type="button"
              class="btn btn-outline-success"
              [ngClass]="{'w-100': _windowWidth < _switchWidth}"
              (click)="onBuy()">
        <span *ngIf="_selectedCoupons.length > 0">
          {{ 'buy for ' | titlecase }}
          {{ totalPrice | currency:"ILS" }}
          <cs-spinner class="ms-1 text-success" *ngIf="isLoading"></cs-spinner>
        </span>
        <span *ngIf="_selectedCoupons.length === 0">{{ 'select coupons for purchase' | titlecase }}</span>
      </button>
      <button type="button"
              style="min-width: 35px"
              class="btn btn-outline-success dropdown-toggle dropdown-toggle-split border-start-0"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end drop-shadow-high text-nowrap align-self-center">
        <li class="ps-2 pe-2">
          <div class="form-check user-select-none m-2" (click)="onMoveToWishCheckboxClick()">
            <input class="form-check-input drop-shadow-low"
                   style="cursor: pointer"
                   type="checkbox"
                   unfocus
                   id="moveToWishCheckbox"
                   [checked]="isMoveToWish">
            <label class="form-check-label text-hover"
                   style="cursor: pointer"
                   (click)="onMoveToWishCheckboxClick()"
                   [ngClass]="{'text-primary': isMoveToWish}"
                   for="moveToWishCheckbox">{{ 'move to wish on purchase' | titlecase }}
            </label>
          </div>
        </li>
      </ul>
    </div>

    <button unfocus
            [ngClass]="{'w-100': _windowWidth < _switchWidth}"
            class="btn btn-outline-secondary"
            type="button"
            data-bs-dismiss="modal">Close
    </button>
  </cs-modal-footer>
</cs-modal>
