<div class="card-body">
  <h4 class="card-title">{{ accountService.user.name }} {{ accountService.user.lastName || '' }}</h4>
  <p class="card-text">{{ accountService.user.email }}</p>
  <div class="card bg-main drop-shadow-high start-50 translate-middle-x" style="width: 18rem;">
    <img src="{{accountService.user.image}}" class="card-img-top" alt="user image">
    <div class="card-body">
      <figure *ngIf="type === 'customer'" class="text-center">
        <blockquote class="blockquote">
          <p>{{"If you can't stop thinking about it... buy it" | titlecase}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
           <cite title="Source Title">Some Smart Shopper</cite>
        </figcaption>
      </figure>
      <figure *ngIf="type === 'company'" class="text-center">
        <blockquote class="blockquote">
          <p>{{"Strive not to be a success, but rather to be of value" | titlecase}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title">Albert Einstein</cite>
        </figcaption>
      </figure>
      <figure *ngIf="type === 'admin'" class="text-center">
        <blockquote class="blockquote">
          <p class="m-0">{{"My code doesn't work, i don't know why..." | titlecase}}</p>
          <p>{{"My code works, i don't know why..." | titlecase}}</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          <cite title="Source Title">Admin</cite>
        </figcaption>
      </figure>
    </div>
  </div>
  <br>
</div>
