<ng-template #wishModal let-modal class="top-50">
  <div class="modal-header">
    <h4 class="modal-title text-primary user-select-none">{{ 'wish list' | titlecase }}</h4>
  </div>
  <div class="modal-body">
    <sc-coupon-table [coupons]="wishList" (selectedCoupons)="onCouponsSelected($event)"></sc-coupon-table>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="selectedCoupons">
      <button unfocus type="button" class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
      <button unfocus type="button" class="btn btn-outline-secondary" (click)="onMove()">Move To Cart</button>
      <button unfocus type="button" class="btn btn-outline-success" (click)="onCancel()">Cancel</button>
    </ng-container>
    <button *ngIf="!selectedCoupons"
            type="button"
            class="btn btn-outline-success"
            unfocus
            (click)="modal.close('Close click')">Close
    </button>
  </div>
</ng-template>
