<ng-template #wishModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title text-primary user-select-none">{{ 'wish list' | titlecase }}</h4>
  </div>
  <div class="modal-body">
    <sc-coupon-table [coupons]="wishList" (selectedCoupons)="onCouponsSelected($event)"></sc-coupon-table>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="selectedCoupons.length > 0">
      <button unfocus type="button" class="btn btn-outline-danger" (click)="onDelete()">Delete</button>
      <button [disabled]="isAnySaleEnded" unfocus type="button" class="btn btn-outline-secondary" (click)="onMove()">Move To Cart</button>
    </ng-container>
    <button type="button"
            class="btn btn-outline-success"
            unfocus
            (click)="modal.dismiss('Close click')">Close
    </button>
  </div>
</ng-template>
