@import "bootstrap/scss/bootstrap";
@import "src/bootstrap_overrides";

.text-primary circle {
  stroke: $primary;
}

.text-secondary circle {
  stroke: $secondary;
}

.text-light circle {
  stroke: $light;
}

.text-white circle {
  stroke: $color-white;
}

.text-success circle {
  stroke: $success;
}

.text-danger circle {
  stroke: $danger;
}

.text-info circle {
  stroke: $info;
}

.text-dark circle {
  stroke: $dark;
}

svg {
  width: 1.2em;
  transform-origin: center;
  animation: rotate 1.5s linear infinite;
}

circle {
  fill: none;
  stroke: $color-white;
  stroke-width: 7;
  stroke-dasharray: 0, 250;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
  transition-duration: 250ms;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 0, 250;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 100, 250;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -120px;
  }
}
